
    <%- include('partials/header', { showHomeLink: false, showProductsLink: !!user, showCartLink: !!user, showLoginLink: !user, showRegisterLink: !user, user: user }) %>

        <main class="container mt-5 pt-5">
            <h2>Welcome</h2>
            <p>Browse our products and manage your cart.</p>
            <% if (user) { %>
                <% if (products?.length> 0) { %>
                    <div class="row">
                        <% products.forEach(product=> { %>
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= product.name %>
                                        </h5>
                                        <p class="card-text">Price: $<%= product.price %>
                                        </p>
                                        <form action="/cart/add" method="POST">
                                            <input type="hidden" name="productId" value="<%= product._id %>" />
                                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <% } else { %>
                        No products found in DB
                        <% } %>
                            <% } else { %>
                                Login to view products
                                <% } %>
        </main>

        <%- include('partials/footer') %>