    <%- include('partials/header', { showHomeLink: true, showProductsLink: false, showCartLink: true, showLoginLink: false, showRegisterLink: false, user: user }) %>
<!-- Header-->
<header class="bg-dark py-5 mt-top-60">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Discover All Products at ShopNest!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Explore our diverse selection and make your shopping experience seamless.</p>
        </div>
    </div>
</header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <% if (products?.length > 0) { %>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% products.forEach(product=> { %>
                    <div class="col mb-5">
                        <div class="card h-100 shadow-sm product-card">
                            <!-- Link to product detail page -->
                            <a class="thumbnails"  href="/products/<%= product._id %>">
                                <img class="card-img-top" src="<%= product.image %>" alt="<%= product.name %>" class="product-image">
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">
                                        <a class="product-name" style="text-decoration: none !important; color: inherit !important;" href="/products/<%= product._id %>">
                                            <%= product.name %>
                                        </a>
                                    </h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $<%= product.price %>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <form action="/cart/add" method="POST">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <button type="submit" class="btn btn-outline-dark mt-auto">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
                <% } else { %>
                    <p class="text-center py-5 mt-5">No products found in Database</p>
                <% } %>
            </div>
        </section>

    <%- include('partials/cart-total') %>

    <%- include('partials/footer') %>