    <%- include('partials/header', { showHomeLink: true, showProductsLink: false, showCartLink: true, showLoginLink: false, showRegisterLink: false, user: user }) %>
    <main class="container mt-5 pt-5">
        <h2 class="text-center mb-4">Products</h2>

        <% if (products?.length> 0) { %>
            <div class="row">
                <% products.forEach(product=> { %>
                    <div class="col-md-4 mb-4">
                        <div class="product-card">
                            <!-- Link to product detail page -->
                            <a href="/products/<%= product._id %>">
                                <img src="<%= product.image %>" alt="<%= product.name %>" class="product-image">
                            </a>
                            <div class="product-card-body">
                                <h5 class="card-title">
                                    <a href="/products/<%= product._id %>">
                                        <%= product.name %>
                                    </a>
                                </h5>
                                <p class="card-text">Price: $<%= product.price %>
                                </p>
                                <form action="/cart/add" method="POST">
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
            <% } else { %>
                <p>No products found in DB</p>
                <% } %>




    </main>

    <%- include('partials/cart-total') %>

    <%- include('partials/footer') %>